@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap&subset=latin-ext');

@quicksand: 'Quicksand';

@super-light-gray: #eaedf2;
@light-gray: #c6c9d1;
@dark-gray: #3f3d56;
@purple: #6c63ff;

body {
  background: @super-light-gray url("/images/gray_shape.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.landing{

  .left-panel {
    float: left;
    width: 50%;
    padding-top: 25vh;

    .float-right {
      width: 100%;

      h2 {
        margin-bottom: 30px;
        text-align: left;
        font-size: 30px;
      }

      p {
        text-align: left;
        font-weight: 100;
        line-height: 1.5;
      }
    }
  }

  .right-panel {
    float: right;
    width: 50%;

    svg {
      max-width: 95%;
      margin-top: -5vh;
      height: 80vh;
      transform: rotate(-1deg);
    }
  }
}