@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap&subset=latin-ext');

@quicksand: 'Quicksand';

@super-light-gray: #eaedf2;
@light-gray: #c6c9d1;
@dark-gray: #3f3d56;
@purple: #6c63ff;

body {
  background-color: white;
}

.relative-container {
  position: relative;
}

nav {
  position: relative;
  z-index: 3;
}

.absolute-image-container {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;

  img.left {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 33%;
    margin: 0;
  }

  img.right {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 38%;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.page-content {
  z-index: 2;
}

.login-card {
  text-align: center;
  width: 35%;
  margin-top: 10vh;
  border-radius: 2px;
  font-size: 20px;

  h2 {
    padding-bottom: 20px;
  }

  svg {
    width: 90%;
    max-height: 150px;
    padding-bottom: 20px;
  }

  .form-field {
    width: 100%;
    margin: 25px 0;
    padding: 10px;
    background-color: @super-light-gray;
    border: 0;
    border-radius: 2px;
    font-size: 20px;
  }
}