@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap&subset=latin-ext');

@quicksand: 'Quicksand';

@super-light-gray: #eaedf2;
@light-gray: #c6c9d1;
@dark-gray: #3f3d56;
@purple: #6c63ff;

* {
  margin: 0 auto;
  text-align: center;
  color: @dark-gray;
  font-family: @quicksand;
}

a {
  text-decoration: none;
}

nav {
  padding: 40px 40px;
  overflow: overlay;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    li {
      float: left;
    }

    li.nav-right {
      float: right;
    }

    .nav-title {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 5px;
    }

    .logging-button {
      color: white;
      background-color: @purple;
      padding: 10px 20px;
      border: 0;
      border-radius: 2px;
      font-size: 10px;
      letter-spacing: 4px;
      transition: ease-out 0.5s;
    }

    .logging-button:hover {
      transition: ease-out 0.5s;
      background-color: @light-gray;
      color: @dark-gray;
    }
  }
}

/* ---- old css ---- */

.test-list {
  margin: 20vh auto 50px;
}

.none {
  display: none;
}

.file_input {
  float: left;
}

input.upload-file {
  margin-top: 25px;
}