@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-xw.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-xw.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-xw.ttf) format('truetype');
}
* {
  margin: 0 auto;
  color: #3f3d56;
  font-family: 'Quicksand';
  text-align: center;
}
body {
  background-color: #eaedf2;
}
.page-content {
  width: 75%;
}
a {
  text-decoration: none;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.btn {
  padding: 15px 25px;
  margin: 25px 0;
  color: white;
  background-color: #6c63ff;
  border: 0;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.btn-del {
  background-color: #ff4081;
}
.btn:hover {
  transition: ease-out 0.5s;
  background-color: #c6c9d1;
  color: #3f3d56;
}
nav {
  padding: 40px 40px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
nav ul li {
  float: left;
}
nav ul li.nav-right {
  position: relative;
  top: 5px;
  float: right;
}
nav ul li.nav-right .nav-link {
  font-size: 10px;
  letter-spacing: 4px;
  margin: 0 5px;
}
nav ul li.nav-right span {
  font-weight: lighter;
}
nav ul .nav-title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 5px;
}
nav ul .logging-button {
  color: white;
  background-color: #6c63ff;
  margin-left: 15px;
  padding: 10px 20px;
  border: 0;
  border-radius: 2px;
  font-size: 10px;
  letter-spacing: 4px;
  transition: ease-out 0.5s;
}
nav ul .logging-button:hover {
  transition: ease-out 0.5s;
  background-color: #c6c9d1;
  color: #3f3d56;
}
.collaps-card {
  margin-top: 50px;
}
.param-message {
  margin: 20px auto;
  padding: 10px;
  width: 40%;
  animation: 1s ease-out 0s 1 slideInFromTop;
}
.error-message {
  background-color: #ff4081;
  color: white;
}
.info-message {
  background-color: mediumslateblue;
  color: white;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .modal-content {
  width: 400px;
  position: relative;
  background-color: white;
  border-radius: 2px;
  padding: 60px 60px 30px 60px;
}
.modal .modal-content .close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  color: #3f3d56;
  transform: rotate(45deg);
  cursor: pointer;
}
.form-field {
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eaedf2;
  border: 0;
  border-radius: 2px;
  text-align: left;
  font-size: 20px;
}
.back-button {
  cursor: pointer;
}
.collaps-card {
  background-color: white;
}
.collapsible {
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  text-align: left;
  outline: none;
}
.collapsible-padding {
  padding: 40px;
}
.collapsible-content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
h3 {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 400;
}
.collapsible h3 {
  float: left;
  display: inline-block;
  text-align: left;
}
.collapsible img {
  float: right;
  margin-top: 10px;
  display: inline-block;
  text-align: right;
  width: 30px;
}
.collapsible-content form p {
  margin-top: 10px;
  text-align: left;
}
.collapsible-content .form-field {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eaedf2;
  border: 0;
  border-radius: 2px;
  text-align: left;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */