<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/icons/check.png}" type="image/icon type">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/exam-detail.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/assignment-detail.css}">

    <title th:text="#{application.title}"></title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="nav-title" th:href="@{/roleBasedSite}" th:text="#{navbar.title}"></a>
            </li>
            <li class="nav-right">
                <a class="nav-link" th:href="@{/profile/showProfile}" th:text="#{navbar.profile}"></a>
                <span>|</span>
                <a class="nav-link" th:href="@{/student/studentTestList}" th:text="#{navbar.examList}"></a>
                <a class="btn logging-button" th:href="@{/login}" th:text="#{navbar.logout}"></a>
            </li>
        </ul>
    </nav>

    <div class="page-content">
        <div class="top-section">
            <div class="float-left">
                <h1 th:text="${exam.name}"></h1>
                <a th:href="@{'/downloadTeacherProject/' + ${exam.id} + '/' + ${assignment.id}}" class="btn" th:text="#{assignment-detail.downloadProject}"></a>
                <form id="file-upload" th:action="@{/student/uploadStudentProject}" th:method="post" enctype="multipart/form-data">
                    <label class="btn" for="file-btn" th:text="#{assignment-detail.uploadProject}"></label>
                    <input id="file-btn" type="file" name="file"/>
                    <input type="hidden" name="examId" th:value="${exam.id}">
                    <input type="hidden" name="assignmentId" th:value="${assignment.id}">
                </form>
            </div>

            <div class="float-right">
                <input class="btn-activate activated" type="submit" value="Ukončit test" form="file-upload"/>
            </div>

            <div style="clear: both"></div>
        </div>

        <p th:text="${assignment.description}"></p>

        <div class="action-cards">
            <div>

            </div>
        </div>
    </div>
</body>
</html>