<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="style/main.css">

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title th:text="#{application.title}"></title>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title" th:text="#{navbar.title}"></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <form th:action="@{/perform_logout}" th:method="post" >
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><span th:text="#{logout}"></span></button>
                </form>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title" th:text="#{navbar.title}"></span>
        <nav class="mdl-navigation">
            <form th:action="@{/perform_logout}" th:method="post" >
                <input class="mdl-navigation__link" type="submit" th:value="#{logout}">
            </form>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

            <div class="demo-card-wide mdl-card mdl-shadow--2dp login-card" style="min-height: auto">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Odevzdat vypracovaný test</h2>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <form th:action="@{/createProject}" method="POST">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="firstName" name="firstName">
                            <label class="mdl-textfield__label" for="firstName">Jméno</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="lastName" name="lastName">
                            <label class="mdl-textfield__label" for="lastName">Příjmení</label>
                        </div>

                        <div class="file_input_div">
                            <div class="file_input">
                                <label class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                                    <i class="material-icons">file_upload</i>
                                    <input id="file_input_file" class="none" type="file" />
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="file_input_text_div" style="width: auto">
                                <input class="mdl-textfield__input" type="text" disabled readonly id="file_input_text">
                                <label class="mdl-textfield__label" for="file_input_text">Cesta</label>
                            </div>
                        </div>

                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent upload-file" value="Odelsat">
                    </form>
                </div>
            </div>

        </div>
    </main>
</div>
<script src="js/file-input.js"></script>
</body>
</html>