<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

    <title th:text="#{application.title}"></title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a class="nav-title" th:href="@{/}" th:text="#{navbar.title}"></a>
        </li>
        <li class="nav-right">
            <form th:action="@{/login}">
                <button class="logging-button" th:text="#{login}"></button>
            </form>
        </li>
    </ul>
</nav>

<div class="page-content">
    <div class="landing">
        <div class="left-panel">
            <div class="float-right">
                <h2 th:text="#{index.landingHeadline}"></h2>
                <p th:text="#{index.landingDescription}"></p>
            </div>
        </div>
        <div class="right-panel">
            <img th:src="@{/images/undraw_progress_tracking.svg}">
        </div>
    </div>
</div>
</body>
</html>