<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/icons/check.png}" type="image/icon type">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <title th:text="#{application.title}"></title>
</head>
<body>
    <div class="relative-container">
        <nav>
            <ul>
                <li>
                    <a class="nav-title smaller-title" th:href="@{/}" th:text="#{navbar.title}"></a>
                </li>
            </ul>
        </nav>
        <div class="absolute-image-container">
            <img class=left th:src="@{/images/undraw_modern_design_v3wv.png}">
            <img class="right" th:src="@{/images/undraw_proud_self_1ddv.png}">
        </div>

        <div class="page-content" style="position:relative">
            <div class="error-message param-message" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="info-message param-message" th:if="${param.logout}">
                You have been logged out.
            </div>
            <a class="btn" th:href="@{/createUsers}">Create users</a>
            <form class="login-card" th:action="@{/authenticateTheUser}" method="post">
                <h2 th:text="#{log-in.title}"></h2>

                <input class="form-field" type="text" th:placeholder="#{log-in.username}" name="username"><br>
                <input class="form-field" type="password" th:placeholder="#{log-in.password}" name="password"><br>

                <input class="btn logging-button" type="submit" th:value="#{navbar.login}">
            </form>
        </div>
    </div>
</body>
</html>