<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/icons/check.png}" type="image/icon type">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">

    <title th:text="#{application.title}"></title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="nav-title" th:href="@{/roleBasedSite}" th:text="#{navbar.title}"></a>
            </li>
            <li class="nav-right">
                <span class="back-button nav-link" onclick="javascript:history.back()" th:text="#{navbar.back}"></span>
                <a class="logging-button" th:href="@{/perform_logout}" th:text="#{navbar.logout}"></a>
            </li>
        </ul>
    </nav>

    <div class="page-content">
        <div class="error-message param-message" th:if="${param.error}">
            Passwords are not the same !
        </div>

        <div class="profile-form">
            <div>
                <h2>Profil</h2>
                <form th:action="@{/profile/editProfile}" method="post">
                    <p>Username: </p>
                    <span th:text="${user.username}"></span>
                    <br/>
                    <label>Jméno</label>
                    <input class="form-field" type="text" name="firstName" th:value="${user.firstName}">
                    <br/>
                    <label>Příjmení</label>
                    <input class="form-field" type="text" name="lastName" th:value="${user.lastName}">
                    <br/>
                    <label>Heslo</label>
                    <input class="form-field" type="password" name="password" >
                    <br/>
                    <label>Opakuj heslo</label>
                    <input class="form-field" type="password" name="passwordConf" >
                    <br/>
                    <button class="btn" th:text="Uložit"></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>