<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/icons/check.png}" type="image/icon type">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-detail.css}">

    <title th:text="#{application.title}"></title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="nav-title" th:href="@{/roleBasedSite}" th:text="#{navbar.title}"></a>
            </li>
            <li class="nav-right">
                <a class="nav-link" th:href="@{/profile/showProfile}" th:text="#{navbar.profile}"></a>
                <span>|</span>
                <a class="nav-link" th:href="@{/teacher/userManagement}">Správa uživatel</a>
                <a class="logging-button" th:href="@{/perform_logout}" th:text="#{navbar.logout}"></a>
            </li>
        </ul>
    </nav>

    <div class="page-content">
        <div class="error-message param-message" th:if="${param.tooLongUserName}" th:text="#{messages.tooLongUserName}"></div>
        <div class="error-message param-message" th:if="${param.inputMissing}" th:text="#{messages.inputMissing}"></div>
        <div class="info-message param-message" th:if="${param.userUpdated}" th:text="#{messages.userUpdated}"></div>

        <div class="profile-form">
            <div>
                <h2>Úprava uživatelského účtu</h2>
                <form th:action="@{/teacher/updateUser}" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <p>Username: </p>
                    <span th:text="${user.username}"></span>
                    <br/>
                    <label>Jméno</label>
                    <input class="form-field" type="text" name="firstName" th:value="${user.firstName}">
                    <br/>
                    <label>Příjmení</label>
                    <input class="form-field" type="text" name="lastName" th:value="${user.lastName}">
                    <br/>
                    <label>Role</label>
                    <ul class="checkbox-list">
                        <li th:each="role : ${user.getRoleList()}">
                            <input type="checkbox" th:id="${role.id}" th:name="rolesId" th:value="${role.id}" th:checked="true"/>
                            <label th:for="${role.id}" th:text="${role.name}"></label>
                        </li>
                    </ul>
                    <br/>
                    <ul class="checkbox-list">
                        <li th:each="role : ${roleList}">
                            <input type="checkbox" th:id="${role.id}" th:name="rolesId" th:value="${role.id}" th:checked="false"/>
                            <label th:for="${role.id}" th:text="${role.name}"></label>
                        </li>
                    </ul>
                    <br/>
                    <button class="btn" th:text="Uložit"></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>