<!DOCTYPE html>
<html   lang="cz"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/icons/check.png}" type="image/icon type">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test-list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-management.css}">

    <title th:text="#{application.title}"></title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="nav-title" th:href="@{/roleBasedSite}" th:text="#{navbar.title}"></a>
            </li>
            <li class="nav-right">
                <a class="nav-link" th:href="@{/profile/showProfile}" th:text="#{navbar.profile}"></a>
                <a class="logging-button" th:href="@{/perform_logout}" th:text="#{navbar.logout}"></a>
            </li>
        </ul>
    </nav>

    <div class="page-content">
        <div class="error-message param-message" th:if="${param.tooLongUserName}" th:text="#{messages.tooLongUserName}"></div>
        <div class="error-message param-message" th:if="${param.inputMissing}" th:text="#{messages.inputMissing}"></div>
        <div class="error-message param-message" th:if="${param.selfDelete}" th:text="#{messages.selfDelete}"></div>
        <div class="info-message param-message" th:if="${param.userUpdated}" th:text="#{messages.userUpdated}"></div>
        <div class="collaps-card">
            <div class="collapsible">
                <div class="collapsible-padding">
                    <h3 th:text="#{user-management.createNewUser}"></h3>
                    <img src="/images/icons/arrow.png" >
                    <div style="clear: both"></div>
                </div>
            </div>
            <div class="collapsible-content">
                <div class="collapsible-padding">
                    <form th:action="@{/teacher/createUser}" th:method="post">
                        <p th:text="#{user-management.firstName}"></p>
                        <input class="form-field" type="text" th:name="firstName"><br>
                        <p th:text="#{user-management.lastName}"></p>
                        <input class="form-field" type="text" th:name="lastName"><br>
                        <p th:text="#{user-management.roles}">Role</p>
                        <ul class="checkbox-list">
                            <li th:each="role : ${roleList}">
                                <input type="checkbox" th:id="${role.id}" th:name="rolesId" th:value="${role.id}" />
                                <label th:for="${role.id}" th:text="${role.name}"></label>
                            </li>
                        </ul>

                        <input class="btn" type="submit" th:value="#{user-management.create}">
                    </form>
                </div>
            </div>
        </div>

        <div class="exam-list">
            <ul>
                <li th:each="user : ${userList}">
                    <div class="left">
                        <h3 th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
                        <p th:text="${user.username} "></p>
                    </div>
                    <div class="right">
                        <a class="btn btn-del" th:href="@{/teacher/deleteUser/{userId}(userId=${user.id})}"
                        th:text="#{user-management.delete}"></a>
                        <a class="btn" th:href="@{/teacher/userDetail/{userId}(userId=${user.id})}"
                        th:text="#{user-management.edit}"></a>
                    </div>
                    <div style="clear: both"></div>
                </li>
            </ul>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>